@import url(
  https://fonts.googleapis.com/css?family=Muli:400,
  300italic,
  300,
  400italic
);
@import url("../components/Toolbar/style.css");
@import url("../components/ProjectList/style.css");

body,
html {
  margin: 0;
  font-family: muli;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 960px;
}

button {
  margin: 2px;
  padding: 5px 10px;
  border-radius: 0;
  border: solid 1px #555555;
  color: #555555;
}

button:hover {
  background: #555555;
  color: whitesmoke;
}
