@import url(
  https://fonts.googleapis.com/css?family=Muli:400,
  300italic,
  300,
  400italic
);
body,
html {
  margin: 0;
  font-family: muli;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
}

.active {
  background: #555555;
  color: whitesmoke;
}

button {
  margin: 2px;
  padding: 5px 10px;
  border-radius: 0;
  border: solid 1px #555555;
  color: #555555;
}

button:hover {
  background: #555555;
  color: whitesmoke;
}

.imgstyle {
  margin: 0 auto;
  width: 960px;
  columns: 300px auto;
  text-align: center;
}

img {
  width: 300px;
  margin: 10px;
}

.container {
  margin: 0 auto;
  width: 960px;
}
